<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to 'TopShop', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <%if logged_in?%>
          <li class="nav-item"><%= link_to 'User', current_user, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'My Orders', '/myorders', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Cart', '/cart', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Log Out', '/logout', method: :delete, class: 'nav-link' %></li>
        <%end%>
        <%if !logged_in?%>
          <li class="nav-item"><%= link_to 'Sign Up', new_user_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Log In', '/login', class: 'nav-link' %></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
