<div class = "container"> 
<div class="about-me">	
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
<h4><%=@phrase%></h4>
<%= form_with(local: true) do |form|%>
    <div class="form-group">
      <label><%= form.label :username %></label>
      <%= form.text_field :username, :class=>'form-control'%>
    </div>

    <div class="form-group">
      <label><%= form.label :password %></label>
      <%= form.text_field :password, :class=>'form-control', :type=>'password'%>
    </div>

    <div class="actions btn btn-primary">
      <%= form.submit 'Login'%>
    </div>
<%end%>

			</div>
		</div>
	</div>
</div>
</div>